
# Favicon/touch-icon rewrites to prevent cluttering root directory
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(browserconfig\.xml|manifest\.json)$ src/img/icons/$1 [L]
	RewriteRule ^((?:android-chrome|apple-touch-icon|favicon|mstile)(?:-\d+x\d+|-precomposed)?)(?:-\d+)?\.(ico|png)$ src/img/icons/$1.$2 [L]
</IfModule>


# Cache-busting filename versioning
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)\d+\.(css|ico|jpe?g|js|png|svg)$ $1.$2 [L]
</IfModule>


# Redirect WebP-compatible browsers to use an image's WebP version if available
RewriteCond %{HTTP_ACCEPT} image/webp
RewriteCond %{REQUEST_FILENAME} (.*)\.(jpg|jpeg|png)$
RewriteCond %1\.webp -f
RewriteRule ^(.*)\.(jpg|jpeg|png)$ $1.webp [R,L]


# Redirect to another domain
RewriteEngine on
RewriteRule (.*) http://target-domain.org/%{REQUEST_URI} [L,R=301]
