
# Favicon/touch-icon rewrites to prevent cluttering root directory
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(favicon\.ico|browserconfig\.xml|manifest\.json|(?:(?:android-chrome|apple-touch-icon|favicon|mstile)(?:-\d+x\d+|-precomposed)?)\d+\.png)$ src/img/icons/$1 [L]
</IfModule>


# Cache-busting filename versioning
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)\d+\.(css|ico|jpe?g|js|png|svg)$ $1.$2 [L]
</IfModule>
