#search-bar{
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
	#search-bar > .disclosure{
		position: absolute;
		display: block;
		background: #f00;
		opacity: .5;
		left:	0;
		top:	0;
		bottom:	0;
		right:	0;

		-webkit-transition:	0s left step-end .3s;
		-moz-transition:	0s left step-end .3s;
		-ms-transition:		0s left step-end .3s;
		-o-transition:		0s left step-end .3s;
	}
		/** If you want the search button to submit the form whenever the field's open, uncomment the following ruleset: */
		#sb_close:not(:checked) + .disclosure{
			left: 100%;
		}/***/


	/** Search term field */
	#s{
		display: block !important;
		position: absolute;
		margin: 0 .45em 0 0;
		padding: 0 .5em;
		border:	0;
		bottom:	0;
		right:	100%;
		height:	100%;
		width: 11em;
		color: #999;

		-webkit-transition:	.3s ease all;
		-moz-transition:	.3s ease all;
		-o-transition:		.3s ease all;
		transition:			.3s ease all;
	}
		/** Collapsed */
		#sb_close:checked ~ #s{
			width: 0 !important;
			opacity: 0;
		}

	/** Invisible element blocking user interaction when search bar's closed. */
	#sb_buffer{
		display: none;
		position: absolute;
		right: 100%;
		height: 100%;
		top: 0;
		width: 1em;
	}
		#sb_close:checked ~ #sb_buffer{
			display: block;
		}

	/** Search button with magnifying glass */
	#sb_submit{
		font: 1.25em Mondelicons;
		text-align: center;
		background: #613787;
		color: #fff;
		padding: .4em 1em;
		border: 0;
		margin: 0;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		-webkit-border-radius:	0 .15em .15em 0;
		-moz-border-radius:		0 .15em .15em 0;
		border-radius:			0 .15em .15em 0;
	}