
			# TEMP: Pattern templates
			name: "meta.bold-italic.roff"
			begin: "^([.'])[ \t]*(RG)(?=[ \t\\\\]|$)"
			beginCaptures:
				1: {name: "punctuation.definition.function.macro.roff"}
				2: {name: "entity.name.function.roff"}
			end: "(?<!\\\\)$|(?=\\\\\")"
			patterns: [{
				
				begin: '((?<!\\\\)"(?:[^"\\\\]|""|\\\\(?!").)+")[ \t]*((?!\\\\?")(?:[^"\\s\\\\]|""|\\\\(?!").)+\\\\$\\n)'
				end: '^$|(?=\\\\")|(?<!\\\\)$|(?=[ \t])'
				contentName: "test-2"
				beginCaptures:
					1: name: "test-1"
					2: name: "test-2"
				patterns: [
					{match: '\\\\(?!").', name: "constant.character.escape.roff"}
					{begin: "\\\\$\\n", end: "^"}
				]
			},{
				
				begin: '((?!\\\\?")(?:[^\\s\\\\]|""|\\\\(?!").)+)[ \t]+(""|"(?!"))'
				patterns: [
					{match: '""', name: "constant.character.escape.quote.double.roff"}
					{include: "#escapes"}
				]
				end: '(?=\\\\")|(?:[^"\\\\]|""|\\\\(?!").)*(?:"|\\\\\\\\$)|(?<!\\\\)$'
				contentName: "test-2"
				beginCaptures:
					1: name: "test-1"
					2: name: "test-2"
				endCaptures:
					0: name: "test-2"
			},{
				begin: '("(?:[^\\\\"]|""|\\\\[^"])+(?=\\\\$\\n))'
				end: '(?<!")(?=[ \t])|(?:[^\\s"\\\\]|""|\\\\(?!").)*(?:(?<!\\\\)(?:"|(?=$))|(?=\\\\"))'
				beginCaptures: 0: name: "test-1"
				endCaptures:   0: name: "test-2"
				patterns: [{
					name: "test-1"
					begin: "(?<=\\G)\\\\$\\n"
					end:   '(?<!\\\\)"|(?<!\\\\)$|(?=\\\\")'
					patterns: [ begin: '^(?:[^"\\\\]|""|\\\\(?!").)*\\\\$\\n', end: "^" ]},
					{name: "test-1", match: '^(?:[^\\\\"]|""|\\\\[^"])+(?<!\\\\)"'}
					{name: "test-2", begin: '[ \\t]+(?!\\\\?")(?:[^\\s"\\\\]|""|\\\\[^"])+\\\\$\\n', end: '(?<!\\\\)$|(?="[ \\t])|(?=\\\\")|(?<!\\\\)(?=[ \\t])'}
					{name: "test-2", match: '[ \\t]+(?!\\\\?")(?:[^\\s"\\\\]|""|\\\\(?!").)+'}
					{name: "test-1", begin: "\\\\$\\n", end: "^"}
					{name: "test-2", match: '^(?:[^"\\s\\\\]|""|\\\\(?!").)+'}]
			},{
				match: '(?<!\\\\)("(?:[^\\\\"]|""|\\\\(?!").)*")[ \t]+("(?:[^\\\\"]|""|\\\\(?!").)*(?:[^\\\\]$|"))'
				captures:
					1: name: "test-1"
					2: name: "test-2"
			},{
				begin: '(?<!\\\\)("(?:[^"]|"")*"|(?:[^\\s\\\\]|\\\\.)+)[ \t]+("(?:[^"]|"")*\\\\$\\n)'
				patterns: [name: "test-2", match: '^(?:[^"]|"")*\\\\$\\n']
				end: '$|(?:[^"\\\\]|""|\\\\(?!").)*(?:(?=\\\\")|\\s*"\\s*)'
				beginCaptures:
					1: name: "test-1"
					2: name: "test-2"
				contentName: "test-2"
				endCaptures:
					0: name: "test-2"
			},{
				begin: '(?<=\\s")(?:[^"\\\\]|""|\\\\(?=$)|\\\\(?!").)+'
				end:   '(?=\\\\")|(?<!\\\\)(?=$)|"[ \\t]+'
				patterns: [begin: "\\\\$\\n", end: "^"]
				contentName: "test-2"
				beginCaptures: 0: name: "test-2"
				endCaptures:   0: name: "test-2"
			},{
				begin: '(?:[^\\s\\\\]|\\\\[^\"])+\\\\$\\n'
				end:   '(?=\\\\")|^(?=(?:[^\\s\\\\]|\\\\[^\"])+[ \t]+)|^((?:[^\\s\\\\]|\\\\[^\"])+)(?=$\\n)|^((?:[^\\s\\\\]|\\\\[^\"])+)(?=[ \t]*$\\n)|^[ \t]+((?:[^ \t\\\\]|\\\\[^\"])+)(?=[ \t]|$)|^(?=$\\n)'
				contentName: "test-1"
				beginCaptures:
					0: name: "test-1"
				endCaptures:
					1: name: "test-1"
					2: name: "test-1"
					3: name: "test-2"
			},{
				
				begin: '(?:[^\\s\\\\]|\\\\[^\"])+\\\\$\\n'
				end: '(?=[ \t]+(?:[^\\s\\\\]|\\\\[^\"])+(?:\\\\(?=\\n)|[ \t]+|\\Z))'
				beginCaptures: 0: name: "test-1"
				endCaptures:   1: name: "test-2"
				patterns: [{
					begin: '^(\\S+)[ \t]+(\\S+\\\\$\\n)'
					end: '(?=[ \t])|(?<!\\\\)(?=\\n)'
					contentName: "test-2"
					beginCaptures:
						1: name: "test-1"
						2: name: "test-2"
				},{
					contentName: "test-1"
					begin: "^(?=\\S)"
					end: '([ \t]+\\S+\\\\\\$\\n)|([ \t]+\\S+)(?=[ \t]|(?<!\\\\)\\Z)'
					endCaptures:
						1: name: "test-2"
						2: name: "test-2"
				}]
			},{
				begin: '((?!")(?:[^\\s\\\\]|\\\\[^\"])+)[ \t]+(?=(?:[^\\s\\\\]|\\\\[^\"])+$)'
				contentName: "test-2"
				end: '^(?=[ \t]|$\\n|\\\\\")|((?:[^\\s\\\\]|\\\\(?!").)+)(?=\\\\\"|$|[ \t])'
				beginCaptures: 1: name: "test-1"
				endCaptures:   0: name: "test-2"
				patterns: [{
					name: "test-2"
					begin: '(?:[^\\s\\\\]|\\\\[^\"])+\\\\(?=$)'
					end: "(?<=\\S)(?=[ \t]|$)|^(?=[ \t])"
					beginCaptures: 0: name: "test-2"
				},{
					name: "test-2"
					begin: "^\\S+"
					end: "(?=[ \t]|$\\n)"
				}]
			},{
				begin: '(?:(?<=[ \t])|\\G)((?:[^\\s\\\\]|\\\\[^\"])+)(?:$|[ \t]+\\\\$\\n)'
				end: '(?=[ \t])|(?=(?:[^\\s\\\\]|\\\\[^\"])*$)'
				contentName: "test-2"
				beginCaptures: 1: name: "test-1"
			},{
				name: "test-1"
				match: '"(?:[^"\\\\]|""|\\\\(?!").)+(?=\\\\")'
			},{
				name: "test-1"
				begin: '"'
				end: '(?<!\\\\)(?="|$)'
			},{
				begin: '(?!\\\\")(?=\\S)'
				end: '(?=\\\\\")|(?:((?:[^"\\\\]|""|\\\\(?!").)*)[ \t]+((?:[^"\\s\\\\]|""|\\\\(?!").)+)[ \t]*)|(?=$)'
				patterns: [begin: "\\\\$\\n", end: "^"]
				contentName: "test-1"
				endCaptures:
					1: name: "test-1"
					2: name: "test-2"
			}]
