/** Interface */
.control					{	display: none				}
.menu.control:checked ~ ul	{	max-height: 0 !important;	}


/** Styled dropdown container */
.styled-dropdown{
	color: #000;
	font: 1em/2em Arial, Helvetica, sans-serif;
	display: inline-block;
	vertical-align: top;
	position: relative;
	height: 2em;
}
	.styled-dropdown h2,
	.styled-dropdown a{
		text-decoration: none;
		font: 1em/2.2em sans-serif;
		height: 2em;
		padding: 0 3em 0 .5em;
		margin: 0;

		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
		.styled-dropdown h2:hover,
		.styled-dropdown a:hover{
			background-color: #eee;
		}


	/** Placeholder/default text */
	.styled-dropdown > h2{
		display: block;
		background-color: #fff;
	}

	/** Hidden dropdown label */
	.styled-dropdown > .menu.disclosure{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2em;
		z-index: 200;
		text-align: right;
	}
		/** Disclosure arrow */
		.styled-dropdown > .menu.disclosure::after{
			color: #000;
			content: "\25b2";
			width: 2.2em;
			font: .75em MBCityIcons;
			display: inline-block;
			vertical-align: middle;
			text-align: left;
		}
		
		.styled-dropdown > .menu.control:checked ~ .menu.disclosure::after{
			content: "\25bc";
		} 



	/** Styled options */
	.styled-options{
		position: absolute;
		overflow: hidden;
		width: 100%;
		list-style: none;
		top: 0;
		margin: 0;
		padding: 2em 0 0;
		min-height: 2em;
		max-height: 20em;
		z-index: 90;
	}
		/** Actual links themselves */
		.styled-options a{
			opacity: 1;
			display: block;
			background-color: #fff;
		}
			.menu.control:checked ~ .styled-options a{
				opacity: 0;
			}


		/** Selected menu entry */
		.styled-options li.selected{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background-color: #fff;
			z-index: 999;
			opacity: 1 !important;
		}
			.styled-options li.selected a{
				opacity: 1;
			}


		/** Don't show the placeholder item when menu's closed. */
		.styled-options li.selected.placeholder{
			display: none;
		}


	/** Set border-radii to be inheritable. */
	.styled-options,
	.styled-options > li,
	.styled-dropdown h2,
	.styled-options li.selected > a{
		-webkit-border-radius:	inherit;
		-moz-border-radius:		inherit;
		border-radius:			inherit;
	}

	/** Cut the border radius on the top-most element (the one providing the menu's closed state) when it's opened. */
	.styled-dropdown h2{
		-webkit-border-bottom-left-radius:	0;
		-webkit-border-bottom-right-radius:	0;
		-moz-border-radius-bottomleft:		0;
		-moz-border-radius-bottomright:		0;
		border-bottom-left-radius:			0;
		border-bottom-right-radius:			0;
	}
	
	.styled-options li:last-child > a,
	.styled-dropdown > .menu.control:checked ~ h2{
		-webkit-border-bottom-left-radius:	inherit;
		-webkit-border-bottom-right-radius:	inherit;
		-moz-border-radius-bottomleft:		inherit;
		-moz-border-radius-bottomright:		inherit;
		border-bottom-left-radius:			inherit;
		border-bottom-right-radius:			inherit;
	}


	/** Use transitions on this dropdown menu */
	.styled-options.trans{
		-webkit-transition:	.2s ease-out max-height;
		-moz-transition:	.2s ease-out max-height;
		-ms-transition:		.2s ease-out max-height;
		-o-transition:		.2s ease-out max-height;
		transition:			.2s ease-out max-height;
	}
		.styled-options.trans a{
			-webkit-transition:	.2s linear opacity;
			-moz-transition:	.2s linear opacity;
			-ms-transition:		.2s linear opacity;
			-o-transition:		.2s linear opacity;
			transition:			.2s linear opacity;
		}



	/** Hidden HTML select node used for touch-based devices. */
	.styled-dropdown > select{
		display: none;
	}
		@media screen and (max-device-width: 25em){
			.styled-dropdown > select{
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 999;
				opacity: 0;
			}
		}